{% extends 'base_nfr.html' %}
{% load static %}

<!--Stylos-->
{% block css %}
    <link rel="stylesheet" href="{% static 'stylos/css/bootstrap.min.css' %}"/>
    <!--<link rel="stylesheet" href="{% static 'stylos/formato.css' %}"/>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endblock %}
<!--js script-->
{% block js %}
<script src="{% static 'stylos/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
<!--contenido body-->
{% block content %}
    <!--CONTAINER-->
    <div class="container">
        <h1 class=" text-center">Normas Legales Busqueda de Palabras Clave</h1>
            <br>
            <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #8B7547;">
                <div class="container-fluid">
                <div class="navbar-brand " >Tipo de Uso</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="background:#8B7547"class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                        Todo
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"> 
                            {% for i in item_area_normas %}
                                <li><a class="dropdown-item" href="#">{{i.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    </ul>
                </div>
                </div>
            </nav>
            <br><br>
            <div class="col">
                <!--Input-->
                <form method="POST" action="{% url 'bus_normaclave' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="pal_clave"class="form-control" placeholder="Busqueda de Palabra clave" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button type ="submit" class="btn btn-outline-secondary text-light" style="background-color: #8B7547" type="button" id="button-addon2">Buscar</button>
                    </div>
                </form>
                <!--endinput-->
            </div>
            <br><br>
    
                {% if normativa %}
                    <div class="accordion" id="accordionExample">
                        {% for norm in normativa %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#norm{{norm.id}}" aria-expanded="false" aria-controls="norm{{norm.id}}">
                                        {{norm.normativa.tipo_norma}}
                                    </button>
                                    </h2>
                                    <div id="norm{{norm.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                    <td>Norma</td>
                                                                    <td>Titulo</td>
                                                                    <td>Base Legal</td>
                                                                    <td>Ficha de Publicacion</td>
                                                                    
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{norm.normativa.norma}}</td>
                                                                <td>{{norm.normativa.name_denom}}</td>
                                                                <td>{{norm.normativa.base_legal}}</td>
                                                                <td>{{norm.normativa.fecha_publi}}</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% comment %}
                    {% if name_clave == 'escaleras' %}
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                            1. RNE
                                        </button>
                                        </h2>
                        
                                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-1" aria-expanded="false" aria-controls="flush-collapseOne-1">
                                                    1.1 Arquitectura
                                                </button>
                                                <br>
                                                <div id="flush-collapseOne-1" class="row">
                                                    <div class="col">
                                                        <table class="table caption-top">
                                                            <thead style="background-color: #8B7547">
                                                                <tr class="text-light">
                                                                    <th scope="col">Nª</th>
                                                                    <th scope="col">Categoria</th>
                                                                    <th scope="col">Norma</th>
                                                                    <th scope="col">Denominacion</th>
                                                                    <th scope="col">Ficha de Publicacion</th>
                                                                    <th scope="col">Ver Norma</th>
                                                                </tr>
                                                            </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row">1</th>
                                                                    <td>RNE</td>
                                                                    <td>A.010 Condiciones Generales de Diseño</td>
                                                                    <td>D.S. N° 191-2021-VIVIENDA</td>
                                                                    <td>8 de Julio de 2021</td>
                                                                    <td></td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">2</th>
                                                                    <td>RNE</td>
                                                                    <td> A.130 Requisitos de Seguridad   - . NOTA: La R.M. 061-2021-VIVIENDA Derogó el Capítulo VIII Comercio, de la Norma Técnica A.130, La norma Comercio A.070 ya incluye seguridad.</td>
                                                                    <td>D.S. N° 011-2006-VIVIENDA -  D.S. N° 017-2012-VIVIENDA</td>
                                                                    <td>8 de Mayo de 2006 - 09 de Noviembre del 2012</td>
                                                                    <td></td>
                                                                    
                                                                </tr>   
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                {% elif name_clave == 'restaurantes' %}
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                1. RNE
                            </button>
                            </h2>

                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-1" aria-expanded="false" aria-controls="flush-collapseOne-1">
                                        1.1 Arquitectura
                                    </button>
                                    <br>
                                    <div id="flush-collapseOne-1" class="row">
                                        <div class="col">
                                            <table class="table caption-top">
                                                <thead style="background-color: #8B7547">
                                                    <tr class="text-light">
                                                        <th scope="col">Nª</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Norma</th>
                                                        <th scope="col">Denominacion</th>
                                                        <th scope="col">Ficha de Publicacion</th>
                                                        <th scope="col">Ver Norma</th>
                                                    </tr>
                                                </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>RNE</td>
                                                        <td>A.010 Condiciones Generales de Diseño </td>
                                                        <td>D.S. N° 191-2021-VIVIENDA </td>
                                                        <td>8 de Julio del 2021</td>
                                                        <td></td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>RNE</td>
                                                        <td>A.120 - Accesibilidad Universal en Edificaciones (antes "Accesibilidad para personas con discapacidad")</td>
                                                        <td>R.M.N° 079-2019 -VIVIENDA</td>
                                                        <td>8 de Marzo del 2019</td>
                                                        <td></td>
                                                        
                                                    </tr>  
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>RNE</td>
                                                        <td>A.130 - Requisitos de Seguridad   - . NOTA: La R.M. 061-2021-VIVIENDA Derogó el Capítulo VIII Comercio, de la Norma Técnica A.130, La norma Comercio A.070 ya incluye seguridad.</td>
                                                        <td>D.S. N° 011-2006-VIVIENDA - D.S. N° 017-2012-VIVIENDA</td>
                                                        <td>8 de Mayo del 2006-09 de Noviembre del 2012 </td>
                                                        <td></td>
                                                        
                                                    </tr>  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-2" aria-expanded="false" aria-controls="flush-collapseOne-2">
                                        1.2 Especialidades Relacionadas
                                    </button>
                                    <br>
                                    <div id="flush-collapseOne-2" class="row">
                                        <div class="col">
                                            <table class="table caption-top">
                                                <thead style="background-color: #8B7547">
                                                    <tr class="text-light">
                                                        <th scope="col">Nª</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Norma</th>
                                                        <th scope="col">Denominacion</th>
                                                        <th scope="col">Ficha de Publicacion</th>
                                                        <th scope="col">Ver Norma</th>
                                                    </tr>
                                                </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>RNE</td>
                                                        <td>E.M.030 Modifican la Norma Técnica E.M.030 Instalaciones de Ventilación del RNE </td>
                                                        <td>R.M. N° 232-2020-VIVIENDA</td>
                                                        <td>23 de Septiembre del 2020</td>
                                                        <td></td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>RNE</td>
                                                        <td>N.T.P 321.123 (Version 2012) GAS LICUADO DE PETROLEO Instalaciones Consumidor Directo GLP (Versiones actualizadas  se adquieren en INACAL) </td>
                                                        <td>N.T.P. 321.123 </td>
                                                        <td>22 de Agosto del 2012</td>
                                                        <td></td>
                                                        
                                                    </tr>   
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>RNE</td>
                                                        <td>N.T.P 321.121 (Version 2013) Instalaciones Internas de GLP para Consumidores Directos y Redes de Distribución (Versiones actualizadas  se adquieren en INACAL)</td>
                                                        <td>N.T.P. 321.121 </td>
                                                        <td>30 de Enero de 2013</td>
                                                        <td></td>
                                                        
                                                    </tr>  
                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>RNE</td>
                                                        <td>E.M. 050 Instalaciones Climatización</td>
                                                        <td>E.M. 050</td>
                                                        <td>11 de Junio del 2006</td>
                                                        <td></td>
                                                        
                                                    </tr>  
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>RNE</td>
                                                        <td>E.M.060 Chimeneas y Hogares</td>
                                                        <td>E.M.060</td>
                                                        <td>11 de Junio del 2006</td>
                                                        <td></td>
                                                        
                                                    </tr>  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item2-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            2. Normas Sectoriales
                        </button>
                        </h2>

                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-2" aria-expanded="false" aria-controls="flush-collapseTwo-2">
                                    2.1 Norma Grafica
                                </button>
                                <br>
                                <div id="flush-collapseTwo-2" class="row">
                                    <div class="col">
                                        <table class="table caption-top">
                                            <thead style="background-color: #8B7547">
                                                <tr class="text-light">
                                                    <th scope="col">Nª</th>
                                                    <th scope="col">Categoria</th>
                                                    <th scope="col">Norma</th>
                                                    <th scope="col">Denominacion</th>
                                                    <th scope="col">Ficha de Publicacion</th>
                                                    <th scope="col">Ver Norma</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>RNE</td>
                                                        <td>Reglamento Restaurantes y Hospedajes.</td>
                                                        <td>D.S.025-2004-MINCETUR</td>
                                                        <td>8 de Noviembre del 2004</td>
                                                        <td></td>
                                                    
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>RNE</td>
                                                    <td>Modifica Reglamento Restaurantes y Hospedajes</td>
                                                    <td>D.S.009-2017-MINCETUR</td>
                                                    <td>31 de Julio del 2017</td>
                                                    <td></td>
                                                    
                                                </tr>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                <td>RNE</td>
                                                <td>NTS N° 142-MINSA/2018/DIGESA Norma Sanitaria para Restaurantes y Servicios Afines </td>
                                                <td>R.M.822-2018-MINSA</td>
                                                <td>08 de Setiembre del 2018</td>
                                                <td></td>
                                                    
                                                </tr>

                                                <tr>
                                                    <th scope="row">4</th>
                                                <td>RNE</td>
                                                <td>Categorización y calificac. Turística restaurante. </td>
                                                <td>D.S.011-2019-MINCETUR</td>
                                                <td>24 de Noviembre del 2019</td>
                                                <td></td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>

                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-3" aria-expanded="false" aria-controls="flush-collapseTwo-3">
                                    2.2 Norma Comercio
                                </button>
                                <br>
                                <div id="flush-collapseTwo-3" class="row">
                                    <div class="col">
                                        <table class="table caption-top">
                                            <thead style="background-color: #8B7547">
                                                <tr class="text-light">
                                                    <th scope="col">Nª</th>
                                                    <th scope="col">Categoria</th>
                                                    <th scope="col">Norma</th>
                                                    <th scope="col">Denominacion</th>
                                                    <th scope="col">Ficha de Publicacion</th>
                                                    <th scope="col">Ver Norma</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>RNE</td>
                                                    <td>A.070 Comercio</td>
                                                    <td>R.M. N°061-2021-VIVIENDA</td>
                                                    <td>11 de Febrero del 2021</td>
                                                    <td></td>
                                                    
                                                </tr>
                                                
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                    <!--end item2-->
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-4" aria-expanded="false" aria-controls="flush-collapseTwo-4">
                                        2.3 Normas Complementarias
                                </button>
                                <br>
                                <div id="flush-collapseTwo-4" class="row">
                                    <div class="col">
                                        <table class="table caption-top">
                                            <thead style="background-color: #8B7547">
                                                <tr class="text-light">
                                                    <th scope="col">Nª</th>
                                                    <th scope="col">Categoria</th>
                                                    <th scope="col">Norma</th>
                                                    <th scope="col">Denominacion</th>
                                                    <th scope="col">Ficha de Publicacion</th>
                                                    <th scope="col">Ver Norma</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>RNE</td>
                                                    <td>Ley Lactarios -LACTARIOS en instituciones públicas y privadas </td>
                                                    <td>LEY N° 29896</td>
                                                    <td>07 de Julio del 2012</td>
                                                    <td></td>
                                                    
                                                </tr>


                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>RNE</td>
                                                    <td>REGLAMENTO  LACTARIOS  (Derogado parcialmente)- Derogado, quedando vigente lo dispuesto en la Única Disposición Complementaria Modificatoria </td>
                                                    <td>D.S. N° 001-2016-MIMP</td>
                                                    <td>09 de Febrero del 2016</td>
                                                    <td></td>
                                                    
                                                </tr>

                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>RNE</td>
                                                    <td>REGLAMENTO  LACTARIOS - Reglamento de la Ley N° 29896, Lactarios en las instituciones del sector público y del sector privado</td>
                                                    <td>D.S.N° 023-2021-MIMP</td>
                                                    <td>26 de Julio del 2021</td>
                                                    <td></td>
                                                    
                                                </tr>

                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td>RNE</td>
                                                    <td>AUTORIZACIÓN SECTORIAL  PARA LICENCIA DE FUNCIONAMIENTO</td>
                                                    <td>D.S.006-2013-PCM</td>
                                                    <td>10 de Enero del 2013</td>
                                                    <td></td>
                                                    
                                                </tr>
                                                
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>

                    <!--item3-->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            3. Opiniones Vinculantes
                        </button>
                        </h2>

                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"> 
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree-2" aria-expanded="false" aria-controls="flush-collapseThree-2">
                                    3.1 Normas
                                </button>
                                <div id="flush-collapseThree-2" class="row">
                                    <div class="col">
                                        <table class="table caption-top">
                                            <thead style="background-color: #8B7547">
                                                <tr class="text-light">
                                                    <th scope="col">Nª</th>
                                                    <th scope="col">Categoria</th>
                                                    <th scope="col">Norma</th>
                                                    <th scope="col">Denominacion</th>
                                                    <th scope="col">Ficha de Publicacion</th>
                                                    <th scope="col">Ver Norma</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>RNE</td>
                                                    <td>Diferencia entre edificación comercial de Edificación industrial </td>
                                                    <td>ITL N° 012-2019-VIVIENDA/VMVU-DGPRVU-DV-JJLL-AMBR</td>
                                                    <td>08 de Abril del 2019</td>
                                                    <td></td>
                                                    
                                                </tr>
                                            
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                {% elif name_clave == 'discapacitado' %}
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                1. RNE
                            </button>
                            </h2>

                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-1" aria-expanded="false" aria-controls="flush-collapseOne-1">
                                        1.1 Arquitectura
                                    </button>
                                    <br>
                                    <div id="flush-collapseOne-1" class="row">
                                        <div class="col">
                                            <table class="table caption-top">
                                                <thead style="background-color: #8B7547">
                                                    <tr class="text-light">
                                                        <th scope="col">Nª</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Norma</th>
                                                        <th scope="col">Denominacion</th>
                                                        <th scope="col">Ficha de Publicacion</th>
                                                        <th scope="col">Ver Norma</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>RNE</td>
                                                            <td>A.120 Accesibilidad Universal en Edificaciones(antes "Accesibilidad para personas con discapacidad")</td>
                                                            <td>R.M.N° 079-2019 -VIVIENDA</td>
                                                            <td>2 de Marzo de 2019</td>
                                                            <td></td>
                                                            
                                                        </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                    </div>
                                </div>
                            </div>
                {% endif %}
            {% endcomment %}
        
  
    </div>
    
    <script src="js/bootstrap.bundle.min.js" ></script>
{% endblock %}