{% extends 'base_nfr.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'stylos/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylos/css/iconos.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
    
    <div class="container ">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1">
                <a href="{% url 'dateregister_norm' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:black;"width="35" height="35" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>
                </a>
            </div>
    
            <div class="col-8">
                <h1 class="gUppercase gFontWeight700" style="padding-left:120px;">
                    Registrar Normativa
                </h1>
            </div>
    
            <div class="col-1">
                <a href="{% url 'dateregister_norm' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:black;" width="35" height="45" fill="currentColor" class="bi bi-skip-end-btn-fill" viewBox="0 0 16 16">
                        <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407L9.5 8.972V10.5a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-1 0v1.528L6.79 5.093z"/>
                    </svg>
                </a>
            </div>
            <div class="col-1"></div>
        </div>
        <br><br>
        <form method='POST' action="/udpate_normativa/{{normativa.id}}">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <label for="norma">Norma</label>
                    <input type="text" class="form-control" name="norma" value="{{normativa.norma}}"/>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="name_deno">Titulo</label>
                        <input type="text" name="name_deno" class="form-control" value="{{normativa.name_denom}}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="base">Base Legal</label>
                    <input type="text" name="base_legal" class="form-control" value="{{normativa.base_legal}}"/>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fecha_publi">Publicacion</label>
                        <input type="date" name="fecha_publi" class="form-control" value="{{normativa.fecha_publi}}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Tipo Normativa:<select class="form-select" aria-label="Default select example" name="tip_norma">
                                            <option selected>{{normativa.tipo_norma}}</option>
                                            {% for tipo_norma in tipo_normativa %}
                                                <option value="{{a.subcategory_name}}">{{tipo_norma.subcategory_name}}</option>
                                            {% endfor %}
                                    </select>
                </div>
                <div class="col-6">
                    Tipo de Uso:<select class="form-select" aria-label="Default select example" name="tip_uso">
                                    <option selected>{{normativa.tipo_uso}}</option>
                                    {% for tipo_uso in tipo_uso %}
                                        <option value="{{tipo_uso.area_name}}">{{tipo_uso.area_name}}</option>
                                    {% endfor %}
                                </select>
                </div>
            </div>
            <br><br>
            <button class="btn btn-primary" style="background-color: #24387C;position:relative;left:435px;" type="submit" >Agregar</button>
            {% comment %}<label for="">Palabra clave</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="pala_clave"  aria-describedby="button-addon2">
                <button class="btn btn-primary" style="background-color: #24387C;"type="submit" id="button-addon2">Agregar</button>
            </div>
            <br>
            {% endcomment %}
        </form>
                            {% comment %}
                            {% if palabra_clave %}
                                    <table class="table border">
                                        <thead>
                                            <tr>
                                                <td><h6>Palabras clave</h6></td>
                                                <td><h6>Obsevaciones</h6></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for pala_clave in palabra_clave %}
                                                    <tr>
            
                                                        <td>{{pala_clave.name}}</td>
                                                            <div class="content-icono">
                                                                <td>
                                                                    <a href="/update_template/{{pala_clave.id}}" class="btn btn-warning">
                                                                        <i class="bi bi-pencil-square"></i>
                                                                    </a>
                                                                    <a href="/delete_clave/{{pala_clave.id}}" class="btn btn-danger">
                                                                        <i class="bi bi-eraser-fill"></i>
                                                                    </a>
                                                                </td>
                                                            </div>
                                                    </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            {% endif %}
                            {% endcomment %}
            
    </div>
{% endblock %}


{% block js %}
    <link rel="stylesheet" href="{% static 'stylos/js/bootstrap.bundle.min.js' %}"/>
{% endblock %}