{% extends 'base/base.html' %}
{% load static %}

{% block vendor_css %}
    <link href="{% static 'vendor/DataTables/datatables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/airdatepicker/dist/css/datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/chartsjs/Chart.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block vendor_js %}
    <script src="{% static 'vendor/airdatepicker/dist/js/datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/airdatepicker/dist/js/i18n/datepicker.es.js' %}"></script>
    <script src="{% static 'vendor/mdtimepicker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'vendor/chartsjs/Chart.min.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
{% endblock %}