#header {
    background: #000;
    color: #fff;
}
.module h2, .module caption, .inline-group h2 {
    background: #c1a13f;
    color: #fff;
}
div.breadcrumbs {
    background: #c1a13f;
    color: #000;
}
a:link, a:visited {
    color: #000;
}
a.section:link, a.section:visited {
    color: #000;
}

#header a:link, #header a:visited {
    color: #fff;
}

#header a:hover, #header a:hover {
    color: #fff;
}
#changelist-filter li.selected a {
    color: #000;
}
#nav-sidebar .current-model {
    background: #a93622;
}
#nav-sidebar .current-model th a {
    color: #fff !important;
}