{% extends 'base_nfr.html' %}

{% block content %}
 <div class="container-fluid">
{% comment %} https://fontawesome.com/v5.15/icons?d=gallery&p=2&q=person {% endcomment %}
   <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="fas fa-user-alt blue"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>Afiliados</p>
                                                <span class="number">6,267</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-redo-alt"></i> Updated cada 30 min.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="olive fas fa-money-bill-alt"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>Ingresos</p>
                                                <span class="number">S/ 1,800.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i> En el mes Actual
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="violet fas fa-eye"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>Visitas</p>
                                                <span class="number">28,210</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-stopwatch"></i> En las Ultimas 24 Horas
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="orange fas fa-envelope"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>Suscripciones</p>
                                                <span class="number">75</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-envelope-open-text"></i> En los ultimos 7 dias
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


</div>



<div class="row">
  <div class="col-md-6"><h5 class="card-header foro">Temas Normativos</h5>
        <div class="row">
                <div class="col-md-6">
                     <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                               <i class="fas fa-search blue"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>N° Búsquedas</p>
                                                <span class="number">5,358</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i> En el mes Actual
                                        </div>
                                    </div>
                                </div>
                     </div>
                </div>

                <div class="col-md-6">
                     <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <span style="color: Tomato;">
                                                <i class="fas fa-download"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>Nº Descargas</p>
                                                <span class="number">8,475</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i> En el mes Actual
                                        </div>
                                    </div>
                                </div>
                     </div>
                </div>
 </div>


                        <div class="card">
                                <div class="content">
                                    <div class="head">
                                        <h4 class="mb-0">Normas mas buscadas</h4>
                                        <p class="text-muted">Your year long website traffic data</p>
                                    </div>
                                    <div class="canvas-wrapper">
                                        <table class="table no-margin bg-lighter-grey">
                                            <thead class="success">
                                                <tr>
                                                    <th>Country</th>
                                                    <th class="text-right">Unique Visitors</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><i class="fas fa-address-book"></i> Reglamento Nacional de Edificaciones</td>
                                                    <td class="text-right">27,340</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fas fa-address-book"></i> Ley de Procedimientos 29090</td>
                                                    <td class="text-right">21,280</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fas fa-address-book"></i> Decreto Supremo Nº 006-2017-VIVIENDA</td>
                                                    <td class="text-right">18,210</td>
                                                </tr>
                                               
                                        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


  
  
  </div>



  

  
  <div class="col-md-6"><h5 class="card-header foro">Foro</h5>
  

          <div class="row">
                <div class="col-md-6">
                     <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="violet fas fa-swatchbook"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>Categorias</p>
                                                <span class="number">352</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i> En el mes Actual
                                        </div>
                                    </div>
                                </div>
                     </div>
                </div>

                <div class="col-md-6">
                     <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="olive far fa-comments"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail text-center">
                                                <p>Comentarios</p>
                                                <span class="number">1,578</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i> En el mes Actual
                                        </div>
                                    </div>
                                </div>
                     </div>
                </div>
 </div>


  
                            <div class="card">
                                <div class="content">
                                    <div class="head">
                                        <h4 class="mb-0">Visitantes Destacados</h4>
                                        <p class="text-muted">Your year long sales data</p>
                                    </div>
                                    <div class="canvas-wrapper">
                                        <table class="table no-margin bg-lighter-grey">
                                            <thead class="success">
                                                <tr>
                                                    <th>Country</th>
                                                    <th class="text-right">No. Sales</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                            
                                                <tr>
                                                    <td><i class="fas fa-user-alt blue"></i> Juan Pérez Rodríguez</td>
                                                    <td class="text-right">7,200</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-in"></i> Mercedes Arévalo Palma</td>
                                                    <td class="text-right">6,190</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-jp"></i>Pedro Martínez Rojas</td>
                                                    <td class="text-right">4,790</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-gb"></i> Maricielo Flores</td>
                                                    <td class="text-right">4,480</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="flag-icon flag-icon-es"></i> Sandra Acosta</td>
                                                    <td class="text-right">4,276</td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
           

  </div>






</div>

{% endblock %}

{% block js %}
{% endblock %}    

{% block script %}
{% endblock %}    
