{% extends 'base_nfr.html' %}

{% block content %}
<div class="container dashboard">
    <div class="row">

    {% for muni in HOME_CHOICES %}

        <div class="col-md-4">
            {% include 'link_card.html' with icon_class='blue fas fa-book' title='Administración' id=muni.id  subtitle=muni.name link='dashboard:admin' link_text='Ingresar' %}
             
       </div>

        
    {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}    

{% block script %}
    <script type="text/javascript">
        let body = document.querySelector('body')
        body.classList.add('bg-blue-dark')
    </script>
{% endblock %}    

<body>

         

         
    <!--   Area Form    -->
            <script type="text/javascript">
              function submitByEnter(e) {
                  if (e.keyCode == 13) {
                      document.getElementById("FormListado:b_RealizaBusqueda").click();
                      return false;
                  }
                  else {
                      return true;
                  }
              }
            </script>
            <div class="gContainer gPositionRelative gContenido">
                <div class="gAlignCenter">
                    <hr class="gSeparator gSeparatorTrans gSeparator15">
                    <h1 class="gUppercase gFontWeight700">
                        Buscador de
                        <span class="gColorNaranja">Resoluciones</span>
                        CAP
                    </h1>
                     
                    <h4 class="gFontWeight300">
                        Encuentre aquí todas las resoluciones 
                        <b>Por favor ingrese a una categoría.</b>
                    </h4>
                    <hr class="gWidth100 gSeparator gSeparatorTrans gInlineBlock">
                    
                    <hr class="gSeparator gSeparatorTrans gSeparator20">
                    <div class="gRowTemp">
                        <a href="propiedad-intelectual.html" class="gInlineBlock gWidth200 gPositionRelative gCircleBox gVerticalTop gPaddingBottom25 gCircleBox2">
                            <div class="gWidth50 gHeight3 gFondoCircleNaranja gBlock gPositionAbsolute gBottom0 gLeft0 gRight0 gMarginAuto gAnimate3 gZindex1 gLine"></div>
                            <div class="gWidth120 gHeight120 gLineHeight120 gInlineBlock gFondoBlanco gBorderRadius100p gBorder4 gBorderCircleNaranaja gBoxShadowBottom gPositionRelative gAnimate gTop0 gZindex2 gImgg">
                                <img src="images/img-propiedad-intelectual2.png" class="gInlineBlock gWidth50 gMarginTop31">
                            </div>
                            <h3 class="gUppercase gMarginTop20 gLineHeight25 gFontWeight700 gPositionRelative gZindex2">
                                Reglamento
                                <br>
                                Comentado
                            </h3></a>
                         
                        <a href="proteccion-consumidor.html" class="gInlineBlock gWidth200 gMargin0-50 gPositionRelative gCircleBox gVerticalTop gPaddingBottom25 gCircleBox3"> 
                            <div class="gWidth50 gHeight3 gFondoCircleAmarilo gBlock gPositionAbsolute gBottom0 gLeft0 gRight0 gMarginAuto gAnimate3 gZindex1 gLine"></div>
                             
                            <div class="gWidth120 gHeight120 gLineHeight120 gInlineBlock gFondoBlanco gBorderRadius100p gBorder4 gBorderCircleAmarillo gBoxShadowBottom gPositionRelative gAnimate gTop0 gZindex2 gImgg">
                                <img src="images/img-people.png" class="gInlineBlock gWidth60 gMarginTop31">
                            </div>
                             
                            <h3 class="gUppercase gMarginTop20 gLineHeight25 gFontWeight700 gPositionRelative gZindex2">
                                Procedimiento
                                <br>
                                Tramites y Licencias
                            </h3>
                             </a>
                         
                        <a href="competencia.html" class="gInlineBlock gWidth200 gPositionRelative gCircleBox gVerticalTop gPaddingBottom25 gCircleBox4">
                            <div class="gWidth50 gHeight3 gFondoCircleRojo gBlock gPositionAbsolute gBottom0 gLeft0 gRight0 gMarginAuto gAnimate3 gZindex1 gLine"></div>
                            <div class="gWidth120 gHeight120 gLineHeight120 gInlineBlock gFondoBlanco gBorderRadius100p gBorder4 gBorderCircleRojo gBoxShadowBottom gPositionRelative gAnimate gTop0 gZindex2 gImgg">
                                <img src="images/img-people2.png" class="gInlineBlock gWidth65 gMarginTop31">
                            </div>
                            <h3 class="gUppercase gMarginTop20 gLineHeight25 gFontWeight700 gPositionRelative gZindex2">
                                Defensa de la
                                <br>
                                Competencia
                            </h3></a>
                    </div>
                    <hr class="gSeparator gSeparatorTrans gSeparator20">
                    <div class="gRowTemp">
                        <a href="poderjudicial.html" class="gInlineBlock gWidth200 gPositionRelative gCircleBox gVerticalTop gPaddingBottom25 gCircleBox5">
                            <div class="gWidth50 gHeight3 gFondoCircleGris3 gBlock gPositionAbsolute gBottom0 gLeft0 gRight0 gMarginAuto gAnimate3 gZindex1 gLine"></div>
                            <div class="gWidth100 gHeight100 gLineHeight100 gInlineBlock gFondoBlanco gBorderRadius100p gBorder4 gBorderCircleGris3 gBoxShadowBottom gPositionRelative gZindex2 gAnimate gTop0 gImgg">
                                <img src="images/img-judicial.png" class="gInlineBlock gMarginTop5" width="100">
                            </div>
                            <h3 class="gUppercase gMarginTop20 gLineHeight20 gFontWeight700 gPositionRelative gZindex2">Sentencias
                                                                                                                        del<br>
                                                                                                                        Poder
                                                                                                                        Judicial</h3></a>
                        <a href="pgw_laudos.html" class="gInlineBlock gWidth200 gMargin0-50 gPositionRelative gCircleBox gVerticalTop gPaddingBottom25 gCircleBox6">
                            <div class="gWidth50 gHeight3 gFondoCircleAmarilo2 gBlock gPositionAbsolute gBottom0 gLeft0 gRight0 gMarginAuto gAnimate3 gZindex1 gLine"></div>
                            <div class="gWidth100 gHeight100 gLineHeight100 gInlineBlock gFondoBlanco gBorderRadius100p gBorder4 gBorderCircleAmarillo2 gBoxShadowBottom gPositionRelative gZindex2 gAnimate gTop0 gImgg">
                                <img src="images/img-arbitro.png" class="gInlineBlock gMarginTop5" width="100">
                            </div>
                            <h3 class="gUppercase gMarginTop20 gLineHeight20 gFontWeight700 gPositionRelative gZindex2">LAUDOS
                                                                                                                        <br>
                                                                                                                        </h3></a>


                        <a href="tribunal.html" class="gInlineBlock gWidth200 gPositionRelative gCircleBox gVerticalTop gPaddingBottom25 gCircleBox1">
                            <div class="gWidth50 gHeight3 gFondoCircleGris gBlock gPositionAbsolute gBottom0 gLeft0 gRight0 gMarginAuto gAnimate3 gZindex1 gLine"></div>
                            <div class="gWidth120 gHeight120 gLineHeight120 gInlineBlock gFondoBlanco gBorderRadius100p gBorder4 gBorderCircleGris gBoxShadowBottom gPositionRelative gZindex2 gAnimate gTop0 gImgg">
                                <img src="images/img-tribunal.png" class="gInlineBlock gWidth37 gMarginTop31">
                            </div>
                            <h3 class="gUppercase gMarginTop20 gLineHeight20 gFontWeight700 gPositionRelative gZindex2">Normatividad Edificatoria</h3></a>
                                                                                            
                    </div>
                    
                    <hr class="gSeparator gSeparatorTrans gSeparator20">
                </div>
            </div>
     
    <!--    End Area Form   -->
     
    <!-- <footer class="gWidth100p gPadding20-0 gFondoRojo gFooter">
        <div class="gContainer gMargin0Auto gPositionRelative">
            <a href="http://www.indecopi.gob.pe/" class="gInlineBlock gWidth120">
                <img src="images/img-logo-indecopi-blanco.png" alt="Indecopi" class="gInlineBlock gVerticalMidle"></a>
            <div class="gPositionAbsolute gTop10 gRight0">
                <p class="gFontSize12 gColorGrisClaro">Indecopi Copyright  2019. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer> -->
    <script src="js/9631-js-jquery.js"></script>
    <script src="js/5545-js-app.js"></script>
</body>