{% extends 'base_nfr.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center">Suscripciones - Pagos en Linea</h4>
        </div>
     </div>
     
         <div class="col-md-12">

          <div class="container">
                  <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Gratuito</h4>
                      </div>
                      <div class="card-body" style='background:white;'>
                        <h1 class="card-title pricing-card-title">S/ 0 <small class="text-muted">mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                                
                        
                          <li>Acceso total a la Normas y Acceso al Foro</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Ser colegiado del CAP.</li>
                          <li>Estar habilitado.</li>
                          <li>No tener multas. </li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Registro Gratis</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Premium</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 10 <small class="text-muted">mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          
                          <li> Acceso total a la Normas </li>
                          <li> Acceso total al Foro</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Ser colegiado del CAP.</li>
                          <li>Estar habilitado.</li>
                          <li>No tener multas. </li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Suscribirme</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Profesional</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 18  <small class="text-muted"> mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li> Acceso total a la Normas </li>
                          <li> Acceso total al Foro</li>
                          <li> Promociones Especiales</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Cualquier profesional o Persona que desee acceder</li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Suscribirme</button>
                      </div>
                    </div>
                  </div>

      
         </div>


          </div>
    </div>



 <div class="row">
        <div class="col-md-5">
            <h4 class="text-center">Suscripciones - Pagos Presenciales</h4>
        </div>
     </div>
     
         <div class="col-md-12">

          <div class="container">
                  <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Gratuito</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 0 <small class="text-muted">mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                                
                        
                          <li>Acceso total a la Normas y Acceso al Foro</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Ser colegiado del CAP.</li>
                          <li>Estar habilitado.</li>
                          <li>No tener multas. </li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Registro Gratis</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Premium</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 22 <small class="text-muted">mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          
                          <li> Acceso total a la Normas </li>
                          <li> Acceso total al Foro</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Ser colegiado del CAP.</li>
                          <li>Estar habilitado.</li>
                          <li>No tener multas. </li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Suscribirme</button>
                      </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Profesional</h4>
                      </div>
                      <div class="card-body">
                        <h1 class="card-title pricing-card-title">S/ 30  <small class="text-muted"> mes</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                          <li> Acceso total a la Normas </li>
                          <li> Acceso total al Foro</li>
                          <li> Promociones Especiales</li>
                            <br>
                          <li><b>Condiciones:</b></li>
                        
                        <i> <li>Cualquier profesional o Persona que desee acceder</li></i>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-primary">Suscribirme</button>
                      </div>
                    </div>
                  </div>

      
         </div>


          </div>
    </div>






</div>


<style>
.card-body {
  background:white;
}
</style>


{% endblock content %}

{% block css %}
    <link href="{% static 'vendor/DataTables/datatables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'dynamic-formset/app/formset_css.css' %}">
    <link href="{% static 'vendor/airdatepicker/dist/css/datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/mdtimepicker/mdtimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'vendor/airdatepicker/dist/js/datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/airdatepicker/dist/js/i18n/datepicker.es.js' %}"></script>
    <script src="{% static 'vendor/mdtimepicker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'dynamic-formset/js/jquery.formset.js' %}"></script>
    <script src="{% static 'dynamic-formset/app/create.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('#id_entrevista_table tbody tr').formset(
                get_dynamic_attr('{{ formset.prefix }}'),
            );
        })
    </script>
{% endblock %}