
{% load static %}

{% block content %}
<div class="container public-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-body pt-4">
                    <h4 class="text-primary">Registro Exitoso</h4>
                    <div class="row mt-2">
                        <div class="col-md-4"><a  class="btn btn-primary"><i class="fa fa-home"></i> Portal</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}