{% extends 'base_nfr.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"><h4 class="text-center">Bolsa de Trabajo</h4></div>
        <div class="col-md-6">
            <form class="ml-1">
                <div class="form-row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar un puesto, área o especialidad">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            {% include 'partials/_works_filters.html' %}
        </div>
        <div class="col-md-9">
            {% include 'partials/_works_list.html' %}
        </div>
    </div>
</div>
{% endblock content %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}